In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
cd 'F:\sigma analytics & computing\training PPT\example data set'

F:\sigma analytics & computing\training PPT\example data set

In [4]:
ls

 Volume in drive F is New Volume
 Volume Serial Number is BE9F-9F13

 Directory of F:\sigma analytics & computing\training PPT\example data set

08/14/2016  08:16 AM    <DIR>          .
08/14/2016  08:16 AM    <DIR>          ..
08/14/2016  08:16 AM         3,013,884 .RData
08/14/2016  08:16 AM            10,465 .Rhistory
08/01/2016  10:06 AM    <DIR>          census-house.tar
08/01/2016  10:01 AM        48,903,479 census-house.tar.gz
07/31/2016  08:35 PM         9,419,450 Dat 21 Kaggle test.csv
07/31/2016  08:37 PM        17,054,676 Dat 21 kaggle train.csv
08/01/2016  09:46 AM        37,077,779 dds_datasets.zip
07/27/2015  09:26 AM         5,217,014 facebook.tsv
08/10/2016  07:41 PM             1,073 first script on logistic regression.R
07/24/2016  11:48 PM               354 first_script_on_multiple_linearRegression.R
08/06/2016  10:42 PM               488 fourth script on linear regresion.R
05/04/2014  11:18 PM           191,803 framingham.csv
08/01/2016  10:40 AM         1,525,307 house price data set.csv
08/01/2016  10:36 AM         1,813,285 house price data set.xlsx
07/24/2016  08:28 PM             5,187 mlr07.xls
07/24/2016  08:50 PM             1,824 mlr07new.csv
07/24/2016  10:08 PM            18,123 mpg.csv
07/31/2016  06:46 PM         4,553,616 reddit.csv
07/24/2016  11:48 PM               493 second_script_on_multiple_linearRegression.R
08/06/2016  09:52 PM             1,785 Third script on linear regression.R
              19 File(s)    128,810,085 bytes
               3 Dir(s)  132,149,686,272 bytes free

In [5]:
mpg = pd.read_csv('mpg.csv')

In [6]:
mpg

,MPG,Cylinders,Displacements,HP,weight,Acceleration,model Year,Origin,CarName
0,18,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15,8,350,165,3693,11.5,70,1,buick skylark 320
2,18,8,318,150,3436,11.0,70,1,plymouth satellite
3,16,8,304,150,3433,12.0,70,1,amc rebel sst
4,17,8,302,140,3449,10.5,70,1,ford torino
5,15,8,429,198,4341,10.0,70,1,ford galaxie 500
6,14,8,454,220,4354,9.0,70,1,chevrolet impala
7,14,8,440,215,4312,8.5,70,1,plymouth fury iii
8,14,8,455,225,4425,10.0,70,1,pontiac catalina
9,15,8,390,190,3850,8.5,70,1,amc ambassador dpl
10,15,8,383,170,3563,10.0,70,1,dodge challenger se
11,14,8,340,160,3609,8.0,70,1,plymouth 'cuda 340
12,15,8,400,150,3761,9.5,70,1,chevrolet monte carlo
13,14,8,455,225,3086,10.0,70,1,buick estate wagon (sw)
14,24,4,113,95,2372,15.0,70,3,toyota corona mark ii
15,22,6,198,95,2833,15.5,70,1,plymouth duster
16,18,6,199,97,2774,15.5,70,1,amc hornet
17,21,6,200,85,2587,16.0,70,1,ford maverick
18,27,4,97,88,2130,14.5,70,3,datsun pl510
19,26,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25,4,110,87,2672,17.5,70,2,peugeot 504
21,24,4,107,90,2430,14.5,70,2,audi 100 ls
22,25,4,104,95,2375,17.5,70,2,saab 99e
23,26,4,121,113,2234,12.5,70,2,bmw 2002
24,21,6,199,90,2648,15.0,70,1,amc gremlin
25,10,8,360,215,4615,14.0,70,1,ford f250
26,10,8,307,200,4376,15.0,70,1,chevy c20
27,11,8,318,210,4382,13.5,70,1,dodge d200
28,9,8,304,193,4732,18.5,70,1,hi 1200d
29,27,4,97,88,2130,14.5,71,3,datsun pl510
...,...,...,...,...,...,...,...,...,...
368,27,4,112,88,2640,18.6,82,1,chevrolet cavalier wagon
369,34,4,112,88,2395,18.0,82,1,chevrolet cavalier 2-door
370,31,4,112,85,2575,16.2,82,1,pontiac j2000 se hatchback
371,29,4,135,84,2525,16.0,82,1,dodge aries se
372,27,4,151,90,2735,18.0,82,1,pontiac phoenix
373,24,4,140,92,2865,16.4,82,1,ford fairmont futura
374,23,4,151,?,3035,20.5,82,1,amc concord dl
375,36,4,105,74,1980,15.3,82,2,volkswagen rabbit l
376,37,4,91,68,2025,18.2,82,3,mazda glc custom l
377,31,4,91,68,1970,17.6,82,3,mazda glc custom
378,38,4,105,63,2125,14.7,82,1,plymouth horizon miser
379,36,4,98,70,2125,17.3,82,1,mercury lynx l
380,36,4,120,88,2160,14.5,82,3,nissan stanza xe
381,36,4,107,75,2205,14.5,82,3,honda accord
382,34,4,108,70,2245,16.9,82,3,toyota corolla
383,38,4,91,67,1965,15.0,82,3,honda civic
384,32,4,91,67,1965,15.7,82,3,honda civic (auto)
385,38,4,91,67,1995,16.2,82,3,datsun 310 gx
386,25,6,181,110,2945,16.4,82,1,buick century limited
387,38,6,262,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
388,26,4,156,92,2585,14.5,82,1,chrysler lebaron medallion
389,22,6,232,112,2835,14.7,82,1,ford granada l
390,32,4,144,96,2665,13.9,82,3,toyota celica gt
391,36,4,135,84,2370,13.0,82,1,dodge charger 2.2
392,27,4,151,90,2950,17.3,82,1,chevrolet camaro
393,27,4,140,86,2790,15.6,82,1,ford mustang gl
394,44,4,97,52,2130,24.6,82,2,vw pickup
395,32,4,135,84,2295,11.6,82,1,dodge rampage
396,28,4,120,79,2625,18.6,82,1,ford ranger
397,31,4,119,82,2720,19.4,82,1,chevy s-10

In [15]:
mpg.ix[4]

MPG                       17
Cylinders                  8
Displacements            302
HP                       140
weight                  3449
Acceleration            10.5
model Year                70
Origin                     1
CarName          ford torino
Name: 4, dtype: object

In [12]:
mpg.columns

Index([u'MPG', u'Cylinders', u'Displacements', u'HP', u'weight',
       u'Acceleration', u'model Year', u'Origin', u'CarName'],
      dtype='object')

In [14]:
DataFrame(mpg, columns=['MPG','Cylinders','HP'])

     MPG  Cylinders   HP
0     18          8  130
1     15          8  165
2     18          8  150
3     16          8  150
4     17          8  140
5     15          8  198
6     14          8  220
7     14          8  215
8     14          8  225
9     15          8  190
10    15          8  170
11    14          8  160
12    15          8  150
13    14          8  225
14    24          4   95
15    22          6   95
16    18          6   97
17    21          6   85
18    27          4   88
19    26          4   46
20    25          4   87
21    24          4   90
22    25          4   95
23    26          4  113
24    21          6   90
25    10          8  215
26    10          8  200
27    11          8  210
28     9          8  193
29    27          4   88
..   ...        ...  ...
368   27          4   88
369   34          4   88
370   31          4   85
371   29          4   84
372   27          4   90
373   24          4   92
374   23          4    ?
375   36          4   74
376   37          4   68
377   31          4   68
378   38          4   63
379   36          4   70
380   36          4   88
381   36          4   75
382   34          4   70
383   38          4   67
384   32          4   67
385   38          4   67
386   25          6  110
387   38          6   85
388   26          4   92
389   22          6  112
390   32          4   96
391   36          4   84
392   27          4   90
393   27          4   86
394   44          4   52
395   32          4   84
396   28          4   79
397   31          4   82

[398 rows x 3 columns]

In [17]:
mpg.to_csv('mpgcopy.csv')

In [18]:
import sys

In [19]:
mpg.to_csv(sys.stdout)

,MPG,Cylinders,Displacements,HP,weight,Acceleration,model Year,Origin,CarName
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190,3850,8.5,70,1,amc ambassador dpl
10,15.0,8,383.0,170,3563,10.0,70,1,dodge challenger se
11,14.0,8,340.0,160,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400.0,150,3761,9.5,70,1,chevrolet monte carlo
13,14.0,8,455.0,225,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113.0,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198.0,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199.0,97,2774,15.5,70,1,amc hornet
17,21.0,6,200.0,85,2587,16.0,70,1,ford maverick
18,27.0,4,97.0,88,2130,14.5,70,3,datsun pl510
19,26.0,4,97.0,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87,2672,17.5,70,2,peugeot 504
21,24.0,4,107.0,90,2430,14.5,70,2,audi 100 ls
22,25.0,4,104.0,95,2375,17.5,70,2,saab 99e
23,26.0,4,121.0,113,2234,12.5,70,2,bmw 2002
24,21.0,6,199.0,90,2648,15.0,70,1,amc gremlin
25,10.0,8,360.0,215,4615,14.0,70,1,ford f250
26,10.0,8,307.0,200,4376,15.0,70,1,chevy c20
27,11.0,8,318.0,210,4382,13.5,70,1,dodge d200
28,9.0,8,304.0,193,4732,18.5,70,1,hi 1200d
29,27.0,4,97.0,88,2130,14.5,71,3,datsun pl510
30,28.0,4,140.0,90,2264,15.5,71,1,chevrolet vega 2300
31,25.0,4,113.0,95,2228,14.0,71,3,toyota corona
32,25.0,4,98.0,?,2046,19.0,71,1,ford pinto
33,19.0,6,232.0,100,2634,13.0,71,1,amc gremlin
34,16.0,6,225.0,105,3439,15.5,71,1,plymouth satellite custom
35,17.0,6,250.0,100,3329,15.5,71,1,chevrolet chevelle malibu
36,19.0,6,250.0,88,3302,15.5,71,1,ford torino 500
37,18.0,6,232.0,100,3288,15.5,71,1,amc matador
38,14.0,8,350.0,165,4209,12.0,71,1,chevrolet impala
39,14.0,8,400.0,175,4464,11.5,71,1,pontiac catalina brougham
40,14.0,8,351.0,153,4154,13.5,71,1,ford galaxie 500
41,14.0,8,318.0,150,4096,13.0,71,1,plymouth fury iii
42,12.0,8,383.0,180,4955,11.5,71,1,dodge monaco (sw)
43,13.0,8,400.0,170,4746,12.0,71,1,ford country squire (sw)
44,13.0,8,400.0,175,5140,12.0,71,1,pontiac safari (sw)
45,18.0,6,258.0,110,2962,13.5,71,1,amc hornet sportabout (sw)
46,22.0,4,140.0,72,2408,19.0,71,1,chevrolet vega (sw)
47,19.0,6,250.0,100,3282,15.0,71,1,pontiac firebird
48,18.0,6,250.0,88,3139,14.5,71,1,ford mustang
49,23.0,4,122.0,86,2220,14.0,71,1,mercury capri 2000
50,28.0,4,116.0,90,2123,14.0,71,2,opel 1900
51,30.0,4,79.0,70,2074,19.5,71,2,peugeot 304
52,30.0,4,88.0,76,2065,14.5,71,2,fiat 124b
53,31.0,4,71.0,65,1773,19.0,71,3,toyota corolla 1200
54,35.0,4,72.0,69,1613,18.0,71,3,datsun 1200
55,27.0,4,97.0,60,1834,19.0,71,2,volkswagen model 111
56,26.0,4,91.0,70,1955,20.5,71,1,plymouth cricket
57,24.0,4,113.0,95,2278,15.5,72,3,toyota corona hardtop
58,25.0,4,97.5,80,2126,17.0,72,1,dodge colt hardtop
59,23.0,4,97.0,54,2254,23.5,72,2,volkswagen type 3
60,20.0,4,140.0,90,2408,19.5,72,1,chevrolet vega
61,21.0,4,122.0,86,2226,16.5,72,1,ford pinto runabout
62,13.0,8,350.0,165,4274,12.0,72,1,chevrolet impala
63,14.0,8,400.0,175,4385,12.0,72,1,pontiac catalina
64,15.0,8,318.0,150,4135,13.5,72,1,plymouth fury iii
65,14.0,8,351.0,153,4129,13.0,72,1,ford galaxie 500
66,17.0,8,304.0,150,3672,11.5,72,1,amc ambassador sst
67,11.0,8,429.0,208,4633,11.0,72,1,mercury marquis
68,13.0,8,350.0,155,4502,13.5,72,1,buick lesabre custom
69,12.0,8,350.0,160,4456,13.5,72,1,oldsmobile delta 88 royale
70,13.0,8,400.0,190,4422,12.5,72,1,chrysler newport royal
71,19.0,3,70.0,97,2330,13.5,72,3,mazda rx2 coupe
72,15.0,8,304.0,150,3892,12.5,72,1,amc matador (sw)
73,13.0,8,307.0,130,4098,14.0,72,1,chevrolet chevelle concours (sw)
74,13.0,8,302.0,140,4294,16.0,72,1,ford gran torino (sw)
75,14.0,8,318.0,150,4077,14.0,72,1,plymouth satellite custom (sw)
76,18.0,4,121.0,112,2933,14.5,72,2,volvo 145e (sw)
77,22.0,4,121.0,76,2511,18.0,72,2,volkswagen 411 (sw)
78,21.0,4,120.0,87,2979,19.5,72,2,peugeot 504 (sw)
79,26.0,4,96.0,69,2189,18.0,72,2,renault 12 (sw)
80,22.0,4,122.0,86,2395,16.0,72,1,ford pinto (sw)
81,28.0,4,97.0,92,2288,17.0,72,3,datsun 510 (sw)
82,23.0,4,120.0,97,2506,14.5,72,3,toyouta corona mark ii (sw)
83,28.0,4,98.0,80,2164,15.0,72,1,dodge colt (sw)
84,27.0,4,97.0,88,2100,16.5,72,3,toyota corolla 1600 (sw)
85,13.0,8,350.0,175,4100,13.0,73,1,buick century 350
86,14.0,8,304.0,150,3672,11.5,73,1,amc matador
87,13.0,8,350.0,145,3988,13.0,73,1,chevrolet malibu
88,14.0,8,302.0,137,4042,14.5,73,1,ford gran torino
89,15.0,8,318.0,150,3777,12.5,73,1,dodge coronet custom
90,12.0,8,429.0,198,4952,11.5,73,1,mercury marquis brougham
91,13.0,8,400.0,150,4464,12.0,73,1,chevrolet caprice classic
92,13.0,8,351.0,158,4363,13.0,73,1,ford ltd
93,14.0,8,318.0,150,4237,14.5,73,1,plymouth fury gran sedan
94,13.0,8,440.0,215,4735,11.0,73,1,chrysler new yorker brougham
95,12.0,8,455.0,225,4951,11.0,73,1,buick electra 225 custom
96,13.0,8,360.0,175,3821,11.0,73,1,amc ambassador brougham
97,18.0,6,225.0,105,3121,16.5,73,1,plymouth valiant
98,16.0,6,250.0,100,3278,18.0,73,1,chevrolet nova custom
99,18.0,6,232.0,100,2945,16.0,73,1,amc hornet
100,18.0,6,250.0,88,3021,16.5,73,1,ford maverick
101,23.0,6,198.0,95,2904,16.0,73,1,plymouth duster
102,26.0,4,97.0,46,1950,21.0,73,2,volkswagen super beetle
103,11.0,8,400.0,150,4997,14.0,73,1,chevrolet impala
104,12.0,8,400.0,167,4906,12.5,73,1,ford country
105,13.0,8,360.0,170,4654,13.0,73,1,plymouth custom suburb
106,12.0,8,350.0,180,4499,12.5,73,1,oldsmobile vista cruiser
107,18.0,6,232.0,100,2789,15.0,73,1,amc gremlin
108,20.0,4,97.0,88,2279,19.0,73,3,toyota carina
109,21.0,4,140.0,72,2401,19.5,73,1,chevrolet vega
110,22.0,4,108.0,94,2379,16.5,73,3,datsun 610
111,18.0,3,70.0,90,2124,13.5,73,3,maxda rx3
112,19.0,4,122.0,85,2310,18.5,73,1,ford pinto
113,21.0,6,155.0,107,2472,14.0,73,1,mercury capri v6
114,26.0,4,98.0,90,2265,15.5,73,2,fiat 124 sport coupe
115,15.0,8,350.0,145,4082,13.0,73,1,chevrolet monte carlo s
116,16.0,8,400.0,230,4278,9.5,73,1,pontiac grand prix
117,29.0,4,68.0,49,1867,19.5,73,2,fiat 128
118,24.0,4,116.0,75,2158,15.5,73,2,opel manta
119,20.0,4,114.0,91,2582,14.0,73,2,audi 100ls
120,19.0,4,121.0,112,2868,15.5,73,2,volvo 144ea
121,15.0,8,318.0,150,3399,11.0,73,1,dodge dart custom
122,24.0,4,121.0,110,2660,14.0,73,2,saab 99le
123,20.0,6,156.0,122,2807,13.5,73,3,toyota mark ii
124,11.0,8,350.0,180,3664,11.0,73,1,oldsmobile omega
125,20.0,6,198.0,95,3102,16.5,74,1,plymouth duster
126,21.0,6,200.0,?,2875,17.0,74,1,ford maverick
127,19.0,6,232.0,100,2901,16.0,74,1,amc hornet
128,15.0,6,250.0,100,3336,17.0,74,1,chevrolet nova
129,31.0,4,79.0,67,1950,19.0,74,3,datsun b210
130,26.0,4,122.0,80,2451,16.5,74,1,ford pinto
131,32.0,4,71.0,65,1836,21.0,74,3,toyota corolla 1200
132,25.0,4,140.0,75,2542,17.0,74,1,chevrolet vega
133,16.0,6,250.0,100,3781,17.0,74,1,chevrolet chevelle malibu classic
134,16.0,6,258.0,110,3632,18.0,74,1,amc matador
135,18.0,6,225.0,105,3613,16.5,74,1,plymouth satellite sebring
136,16.0,8,302.0,140,4141,14.0,74,1,ford gran torino
137,13.0,8,350.0,150,4699,14.5,74,1,buick century luxus (sw)
138,14.0,8,318.0,150,4457,13.5,74,1,dodge coronet custom (sw)
139,14.0,8,302.0,140,4638,16.0,74,1,ford gran torino (sw)
140,14.0,8,304.0,150,4257,15.5,74,1,amc matador (sw)
141,29.0,4,98.0,83,2219,16.5,74,2,audi fox
142,26.0,4,79.0,67,1963,15.5,74,2,volkswagen dasher
143,26.0,4,97.0,78,2300,14.5,74,2,opel manta
144,31.0,4,76.0,52,1649,16.5,74,3,toyota corona
145,32.0,4,83.0,61,2003,19.0,74,3,datsun 710
146,28.0,4,90.0,75,2125,14.5,74,1,dodge colt
147,24.0,4,90.0,75,2108,15.5,74,2,fiat 128
148,26.0,4,116.0,75,2246,14.0,74,2,fiat 124 tc
149,24.0,4,120.0,97,2489,15.0,74,3,honda civic
150,26.0,4,108.0,93,2391,15.5,74,3,subaru
151,31.0,4,79.0,67,2000,16.0,74,2,fiat x1.9
152,19.0,6,225.0,95,3264,16.0,75,1,plymouth valiant custom
153,18.0,6,250.0,105,3459,16.0,75,1,chevrolet nova
154,15.0,6,250.0,72,3432,21.0,75,1,mercury monarch
155,15.0,6,250.0,72,3158,19.5,75,1,ford maverick
156,16.0,8,400.0,170,4668,11.5,75,1,pontiac catalina
157,15.0,8,350.0,145,4440,14.0,75,1,chevrolet bel air
158,16.0,8,318.0,150,4498,14.5,75,1,plymouth grand fury
159,14.0,8,351.0,148,4657,13.5,75,1,ford ltd
160,17.0,6,231.0,110,3907,21.0,75,1,buick century
161,16.0,6,250.0,105,3897,18.5,75,1,chevroelt chevelle malibu
162,15.0,6,258.0,110,3730,19.0,75,1,amc matador
163,18.0,6,225.0,95,3785,19.0,75,1,plymouth fury
164,21.0,6,231.0,110,3039,15.0,75,1,buick skyhawk
165,20.0,8,262.0,110,3221,13.5,75,1,chevrolet monza 2+2
166,13.0,8,302.0,129,3169,12.0,75,1,ford mustang ii
167,29.0,4,97.0,75,2171,16.0,75,3,toyota corolla
168,23.0,4,140.0,83,2639,17.0,75,1,ford pinto
169,20.0,6,232.0,100,2914,16.0,75,1,amc gremlin
170,23.0,4,140.0,78,2592,18.5,75,1,pontiac astro
171,24.0,4,134.0,96,2702,13.5,75,3,toyota corona
172,25.0,4,90.0,71,2223,16.5,75,2,volkswagen dasher
173,24.0,4,119.0,97,2545,17.0,75,3,datsun 710
174,18.0,6,171.0,97,2984,14.5,75,1,ford pinto
175,29.0,4,90.0,70,1937,14.0,75,2,volkswagen rabbit
176,19.0,6,232.0,90,3211,17.0,75,1,amc pacer
177,23.0,4,115.0,95,2694,15.0,75,2,audi 100ls
178,23.0,4,120.0,88,2957,17.0,75,2,peugeot 504
179,22.0,4,121.0,98,2945,14.5,75,2,volvo 244dl
180,25.0,4,121.0,115,2671,13.5,75,2,saab 99le
181,33.0,4,91.0,53,1795,17.5,75,3,honda civic cvcc
182,28.0,4,107.0,86,2464,15.5,76,2,fiat 131
183,25.0,4,116.0,81,2220,16.9,76,2,opel 1900
184,25.0,4,140.0,92,2572,14.9,76,1,capri ii
185,26.0,4,98.0,79,2255,17.7,76,1,dodge colt
186,27.0,4,101.0,83,2202,15.3,76,2,renault 12tl
187,17.5,8,305.0,140,4215,13.0,76,1,chevrolet chevelle malibu classic
188,16.0,8,318.0,150,4190,13.0,76,1,dodge coronet brougham
189,15.5,8,304.0,120,3962,13.9,76,1,amc matador
190,14.5,8,351.0,152,4215,12.8,76,1,ford gran torino
191,22.0,6,225.0,100,3233,15.4,76,1,plymouth valiant
192,22.0,6,250.0,105,3353,14.5,76,1,chevrolet nova
193,24.0,6,200.0,81,3012,17.6,76,1,ford maverick
194,22.5,6,232.0,90,3085,17.6,76,1,amc hornet
195,29.0,4,85.0,52,2035,22.2,76,1,chevrolet chevette
196,24.5,4,98.0,60,2164,22.1,76,1,chevrolet woody
197,29.0,4,90.0,70,1937,14.2,76,2,vw rabbit
198,33.0,4,91.0,53,1795,17.4,76,3,honda civic
199,20.0,6,225.0,100,3651,17.7,76,1,dodge aspen se
200,18.0,6,250.0,78,3574,21.0,76,1,ford granada ghia
201,18.5,6,250.0,110,3645,16.2,76,1,pontiac ventura sj
202,17.5,6,258.0,95,3193,17.8,76,1,amc pacer d/l
203,29.5,4,97.0,71,1825,12.2,76,2,volkswagen rabbit
204,32.0,4,85.0,70,1990,17.0,76,3,datsun b-210
205,28.0,4,97.0,75,2155,16.4,76,3,toyota corolla
206,26.5,4,140.0,72,2565,13.6,76,1,ford pinto
207,20.0,4,130.0,102,3150,15.7,76,2,volvo 245
208,13.0,8,318.0,150,3940,13.2,76,1,plymouth volare premier v8
209,19.0,4,120.0,88,3270,21.9,76,2,peugeot 504
210,19.0,6,156.0,108,2930,15.5,76,3,toyota mark ii
211,16.5,6,168.0,120,3820,16.7,76,2,mercedes-benz 280s
212,16.5,8,350.0,180,4380,12.1,76,1,cadillac seville
213,13.0,8,350.0,145,4055,12.0,76,1,chevy c10
214,13.0,8,302.0,130,3870,15.0,76,1,ford f108
215,13.0,8,318.0,150,3755,14.0,76,1,dodge d100
216,31.5,4,98.0,68,2045,18.5,77,3,honda accord cvcc
217,30.0,4,111.0,80,2155,14.8,77,1,buick opel isuzu deluxe
218,36.0,4,79.0,58,1825,18.6,77,2,renault 5 gtl
219,25.5,4,122.0,96,2300,15.5,77,1,plymouth arrow gs
220,33.5,4,85.0,70,1945,16.8,77,3,datsun f-10 hatchback
221,17.5,8,305.0,145,3880,12.5,77,1,chevrolet caprice classic
222,17.0,8,260.0,110,4060,19.0,77,1,oldsmobile cutlass supreme
223,15.5,8,318.0,145,4140,13.7,77,1,dodge monaco brougham
224,15.0,8,302.0,130,4295,14.9,77,1,mercury cougar brougham
225,17.5,6,250.0,110,3520,16.4,77,1,chevrolet concours
226,20.5,6,231.0,105,3425,16.9,77,1,buick skylark
227,19.0,6,225.0,100,3630,17.7,77,1,plymouth volare custom
228,18.5,6,250.0,98,3525,19.0,77,1,ford granada
229,16.0,8,400.0,180,4220,11.1,77,1,pontiac grand prix lj
230,15.5,8,350.0,170,4165,11.4,77,1,chevrolet monte carlo landau
231,15.5,8,400.0,190,4325,12.2,77,1,chrysler cordoba
232,16.0,8,351.0,149,4335,14.5,77,1,ford thunderbird
233,29.0,4,97.0,78,1940,14.5,77,2,volkswagen rabbit custom
234,24.5,4,151.0,88,2740,16.0,77,1,pontiac sunbird coupe
235,26.0,4,97.0,75,2265,18.2,77,3,toyota corolla liftback
236,25.5,4,140.0,89,2755,15.8,77,1,ford mustang ii 2+2
237,30.5,4,98.0,63,2051,17.0,77,1,chevrolet chevette
238,33.5,4,98.0,83,2075,15.9,77,1,dodge colt m/m
239,30.0,4,97.0,67,1985,16.4,77,3,subaru dl
240,30.5,4,97.0,78,2190,14.1,77,2,volkswagen dasher
241,22.0,6,146.0,97,2815,14.5,77,3,datsun 810
242,21.5,4,121.0,110,2600,12.8,77,2,bmw 320i
243,21.5,3,80.0,110,2720,13.5,77,3,mazda rx-4
244,43.1,4,90.0,48,1985,21.5,78,2,volkswagen rabbit custom diesel
245,36.1,4,98.0,66,1800,14.4,78,1,ford fiesta
246,32.8,4,78.0,52,1985,19.4,78,3,mazda glc deluxe
247,39.4,4,85.0,70,2070,18.6,78,3,datsun b210 gx
248,36.1,4,91.0,60,1800,16.4,78,3,honda civic cvcc
249,19.9,8,260.0,110,3365,15.5,78,1,oldsmobile cutlass salon brougham
250,19.4,8,318.0,140,3735,13.2,78,1,dodge diplomat
251,20.2,8,302.0,139,3570,12.8,78,1,mercury monarch ghia
252,19.2,6,231.0,105,3535,19.2,78,1,pontiac phoenix lj
253,20.5,6,200.0,95,3155,18.2,78,1,chevrolet malibu
254,20.2,6,200.0,85,2965,15.8,78,1,ford fairmont (auto)
255,25.1,4,140.0,88,2720,15.4,78,1,ford fairmont (man)
256,20.5,6,225.0,100,3430,17.2,78,1,plymouth volare
257,19.4,6,232.0,90,3210,17.2,78,1,amc concord
258,20.6,6,231.0,105,3380,15.8,78,1,buick century special
259,20.8,6,200.0,85,3070,16.7,78,1,mercury zephyr
260,18.6,6,225.0,110,3620,18.7,78,1,dodge aspen
261,18.1,6,258.0,120,3410,15.1,78,1,amc concord d/l
262,19.2,8,305.0,145,3425,13.2,78,1,chevrolet monte carlo landau
263,17.7,6,231.0,165,3445,13.4,78,1,buick regal sport coupe (turbo)
264,18.1,8,302.0,139,3205,11.2,78,1,ford futura
265,17.5,8,318.0,140,4080,13.7,78,1,dodge magnum xe
266,30.0,4,98.0,68,2155,16.5,78,1,chevrolet chevette
267,27.5,4,134.0,95,2560,14.2,78,3,toyota corona
268,27.2,4,119.0,97,2300,14.7,78,3,datsun 510
269,30.9,4,105.0,75,2230,14.5,78,1,dodge omni
270,21.1,4,134.0,95,2515,14.8,78,3,toyota celica gt liftback
271,23.2,4,156.0,105,2745,16.7,78,1,plymouth sapporo
272,23.8,4,151.0,85,2855,17.6,78,1,oldsmobile starfire sx
273,23.9,4,119.0,97,2405,14.9,78,3,datsun 200-sx
274,20.3,5,131.0,103,2830,15.9,78,2,audi 5000
275,17.0,6,163.0,125,3140,13.6,78,2,volvo 264gl
276,21.6,4,121.0,115,2795,15.7,78,2,saab 99gle
277,16.2,6,163.0,133,3410,15.8,78,2,peugeot 604sl
278,31.5,4,89.0,71,1990,14.9,78,2,volkswagen scirocco
279,29.5,4,98.0,68,2135,16.6,78,3,honda accord lx
280,21.5,6,231.0,115,3245,15.4,79,1,pontiac lemans v6
281,19.8,6,200.0,85,2990,18.2,79,1,mercury zephyr 6
282,22.3,4,140.0,88,2890,17.3,79,1,ford fairmont 4
283,20.2,6,232.0,90,3265,18.2,79,1,amc concord dl 6
284,20.6,6,225.0,110,3360,16.6,79,1,dodge aspen 6
285,17.0,8,305.0,130,3840,15.4,79,1,chevrolet caprice classic
286,17.6,8,302.0,129,3725,13.4,79,1,ford ltd landau
287,16.5,8,351.0,138,3955,13.2,79,1,mercury grand marquis
288,18.2,8,318.0,135,3830,15.2,79,1,dodge st. regis
289,16.9,8,350.0,155,4360,14.9,79,1,buick estate wagon (sw)
290,15.5,8,351.0,142,4054,14.3,79,1,ford country squire (sw)
291,19.2,8,267.0,125,3605,15.0,79,1,chevrolet malibu classic (sw)
292,18.5,8,360.0,150,3940,13.0,79,1,chrysler lebaron town @ country (sw)
293,31.9,4,89.0,71,1925,14.0,79,2,vw rabbit custom
294,34.1,4,86.0,65,1975,15.2,79,3,maxda glc deluxe
295,35.7,4,98.0,80,1915,14.4,79,1,dodge colt hatchback custom
296,27.4,4,121.0,80,2670,15.0,79,1,amc spirit dl
297,25.4,5,183.0,77,3530,20.1,79,2,mercedes benz 300d
298,23.0,8,350.0,125,3900,17.4,79,1,cadillac eldorado
299,27.2,4,141.0,71,3190,24.8,79,2,peugeot 504
300,23.9,8,260.0,90,3420,22.2,79,1,oldsmobile cutlass salon brougham
301,34.2,4,105.0,70,2200,13.2,79,1,plymouth horizon
302,34.5,4,105.0,70,2150,14.9,79,1,plymouth horizon tc3
303,31.8,4,85.0,65,2020,19.2,79,3,datsun 210
304,37.3,4,91.0,69,2130,14.7,79,2,fiat strada custom
305,28.4,4,151.0,90,2670,16.0,79,1,buick skylark limited
306,28.8,6,173.0,115,2595,11.3,79,1,chevrolet citation
307,26.8,6,173.0,115,2700,12.9,79,1,oldsmobile omega brougham
308,33.5,4,151.0,90,2556,13.2,79,1,pontiac phoenix
309,41.5,4,98.0,76,2144,14.7,80,2,vw rabbit
310,38.1,4,89.0,60,1968,18.8,80,3,toyota corolla tercel
311,32.1,4,98.0,70,2120,15.5,80,1,chevrolet chevette
312,37.2,4,86.0,65,2019,16.4,80,3,datsun 310
313,28.0,4,151.0,90,2678,16.5,80,1,chevrolet citation
314,26.4,4,140.0,88,2870,18.1,80,1,ford fairmont
315,24.3,4,151.0,90,3003,20.1,80,1,amc concord
316,19.1,6,225.0,90,3381,18.7,80,1,dodge aspen
317,34.3,4,97.0,78,2188,15.8,80,2,audi 4000
318,29.8,4,134.0,90,2711,15.5,80,3,toyota corona liftback
319,31.3,4,120.0,75,2542,17.5,80,3,mazda 626
320,37.0,4,119.0,92,2434,15.0,80,3,datsun 510 hatchback
321,32.2,4,108.0,75,2265,15.2,80,3,toyota corolla
322,46.6,4,86.0,65,2110,17.9,80,3,mazda glc
323,27.9,4,156.0,105,2800,14.4,80,1,dodge colt
324,40.8,4,85.0,65,2110,19.2,80,3,datsun 210
325,44.3,4,90.0,48,2085,21.7,80,2,vw rabbit c (diesel)
326,43.4,4,90.0,48,2335,23.7,80,2,vw dasher (diesel)
327,36.4,5,121.0,67,2950,19.9,80,2,audi 5000s (diesel)
328,30.0,4,146.0,67,3250,21.8,80,2,mercedes-benz 240d
329,44.6,4,91.0,67,1850,13.8,80,3,honda civic 1500 gl
330,40.9,4,85.0,?,1835,17.3,80,2,renault lecar deluxe
331,33.8,4,97.0,67,2145,18.0,80,3,subaru dl
332,29.8,4,89.0,62,1845,15.3,80,2,vokswagen rabbit
333,32.7,6,168.0,132,2910,11.4,80,3,datsun 280-zx
334,23.7,3,70.0,100,2420,12.5,80,3,mazda rx-7 gs
335,35.0,4,122.0,88,2500,15.1,80,2,triumph tr7 coupe
336,23.6,4,140.0,?,2905,14.3,80,1,ford mustang cobra
337,32.4,4,107.0,72,2290,17.0,80,3,honda accord
338,27.2,4,135.0,84,2490,15.7,81,1,plymouth reliant
339,26.6,4,151.0,84,2635,16.4,81,1,buick skylark
340,25.8,4,156.0,92,2620,14.4,81,1,dodge aries wagon (sw)
341,23.5,6,173.0,110,2725,12.6,81,1,chevrolet citation
342,30.0,4,135.0,84,2385,12.9,81,1,plymouth reliant
343,39.1,4,79.0,58,1755,16.9,81,3,toyota starlet
344,39.0,4,86.0,64,1875,16.4,81,1,plymouth champ
345,35.1,4,81.0,60,1760,16.1,81,3,honda civic 1300
346,32.3,4,97.0,67,2065,17.8,81,3,subaru
347,37.0,4,85.0,65,1975,19.4,81,3,datsun 210 mpg
348,37.7,4,89.0,62,2050,17.3,81,3,toyota tercel
349,34.1,4,91.0,68,1985,16.0,81,3,mazda glc 4
350,34.7,4,105.0,63,2215,14.9,81,1,plymouth horizon 4
351,34.4,4,98.0,65,2045,16.2,81,1,ford escort 4w
352,29.9,4,98.0,65,2380,20.7,81,1,ford escort 2h
353,33.0,4,105.0,74,2190,14.2,81,2,volkswagen jetta
354,34.5,4,100.0,?,2320,15.8,81,2,renault 18i
355,33.7,4,107.0,75,2210,14.4,81,3,honda prelude
356,32.4,4,108.0,75,2350,16.8,81,3,toyota corolla
357,32.9,4,119.0,100,2615,14.8,81,3,datsun 200sx
358,31.6,4,120.0,74,2635,18.3,81,3,mazda 626
359,28.1,4,141.0,80,3230,20.4,81,2,peugeot 505s turbo diesel
360,30.7,6,145.0,76,3160,19.6,81,2,volvo diesel
361,25.4,6,168.0,116,2900,12.6,81,3,toyota cressida
362,24.2,6,146.0,120,2930,13.8,81,3,datsun 810 maxima
363,22.4,6,231.0,110,3415,15.8,81,1,buick century
364,26.6,8,350.0,105,3725,19.0,81,1,oldsmobile cutlass ls
365,20.2,6,200.0,88,3060,17.1,81,1,ford granada gl
366,17.6,6,225.0,85,3465,16.6,81,1,chrysler lebaron salon
367,28.0,4,112.0,88,2605,19.6,82,1,chevrolet cavalier
368,27.0,4,112.0,88,2640,18.6,82,1,chevrolet cavalier wagon
369,34.0,4,112.0,88,2395,18.0,82,1,chevrolet cavalier 2-door
370,31.0,4,112.0,85,2575,16.2,82,1,pontiac j2000 se hatchback
371,29.0,4,135.0,84,2525,16.0,82,1,dodge aries se
372,27.0,4,151.0,90,2735,18.0,82,1,pontiac phoenix
373,24.0,4,140.0,92,2865,16.4,82,1,ford fairmont futura
374,23.0,4,151.0,?,3035,20.5,82,1,amc concord dl
375,36.0,4,105.0,74,1980,15.3,82,2,volkswagen rabbit l
376,37.0,4,91.0,68,2025,18.2,82,3,mazda glc custom l
377,31.0,4,91.0,68,1970,17.6,82,3,mazda glc custom
378,38.0,4,105.0,63,2125,14.7,82,1,plymouth horizon miser
379,36.0,4,98.0,70,2125,17.3,82,1,mercury lynx l
380,36.0,4,120.0,88,2160,14.5,82,3,nissan stanza xe
381,36.0,4,107.0,75,2205,14.5,82,3,honda accord
382,34.0,4,108.0,70,2245,16.9,82,3,toyota corolla

## JSON

In [20]:
import json

In [26]:
json_obj = """
{ "zoo_animal" : "Lion",
  "food":["Meat","Veggie","Honey"],
  "fur":"golden",
  "clothes":null,
  "diet":[{"zoo_animal":"Gazelle","food":"grass","fur":"brown"}]}
"""

In [27]:
data = json.loads(json_obj)

In [28]:
data

{u'clothes': None,
 u'diet': [{u'food': u'grass', u'fur': u'brown', u'zoo_animal': u'Gazelle'}],
 u'food': [u'Meat', u'Veggie', u'Honey'],
 u'fur': u'golden',
 u'zoo_animal': u'Lion'}

In [29]:
json.dumps(data)

'{"food": ["Meat", "Veggie", "Honey"], "zoo_animal": "Lion", "fur": "golden", "diet": [{"food": "grass", "zoo_animal": "Gazelle", "fur": "brown"}], "clothes": null}'

In [30]:
dframe = DataFrame(data['diet'])

In [31]:
dframe

    food    fur zoo_animal
0  grass  brown    Gazelle

## HTML

In [33]:
from pandas import read_html

In [36]:
url = 'http://fdic.gov/bank/individual/failed/banklist.html'

In [37]:
#PIp install beautiful-soup
#pip install html5lib

## Merge

In [2]:
dframe1 = DataFrame({'key':['A','B','A','C','B','D'],'DataSet_1': np.arange(6)})

In [3]:
dframe1

   DataSet_1 key
0          0   A
1          1   B
2          2   A
3          3   C
4          4   B
5          5   D

In [7]:
dframe2 = DataFrame({'key':['A','B','T'],'DataSet_2': [1,2,3]})

In [8]:
dframe2

   DataSet_2 key
0          1   A
1          2   B
2          3   T

In [9]:
pd.merge(dframe1,dframe2)

   DataSet_1 key  DataSet_2
0          0   A          1
1          2   A          1
2          1   B          2
3          4   B          2

In [10]:
pd.merge(dframe1,dframe2,on='key')

   DataSet_1 key  DataSet_2
0          0   A          1
1          2   A          1
2          1   B          2
3          4   B          2

In [12]:
pd.merge(dframe1,dframe2,on='key',how='left')

   DataSet_1 key  DataSet_2
0          0   A          1
1          1   B          2
2          2   A          1
3          3   C        NaN
4          4   B          2
5          5   D        NaN

In [13]:
pd.merge(dframe1,dframe2,on='key',how='right')

   DataSet_1 key  DataSet_2
0          0   A          1
1          2   A          1
2          1   B          2
3          4   B          2
4        NaN   T          3

In [14]:
pd.merge(dframe1,dframe2,on='key',how='outer')

   DataSet_1 key  DataSet_2
0          0   A          1
1          2   A          1
2          1   B          2
3          4   B          2
4          3   C        NaN
5          5   D        NaN
6        NaN   T          3

In [15]:
url = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.merge.html'

## Merge on key and index

In [16]:
df3 = DataFrame({'key':['A','B','C','A'],'Data':[1,2,3,4]})
df4 = DataFrame([6,7,8,9],index=['A','B','X','Y'])

In [17]:
pd.merge(df3,df4,left_on = 'key', right_index = True)

   Data key  0
0     1   A  6
3     4   A  6
1     2   B  7

In [18]:
df3.join(df4)

   Data key   0
0     1   A NaN
1     2   B NaN
2     3   C NaN
3     4   A NaN

## Concatenate

In [19]:
arr = np.arange(9).reshape(3,3)

arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [21]:
np.concatenate([arr,arr], axis = 1)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [22]:
np.concatenate([arr,arr], axis = 0)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [24]:
ser1 = Series([1,2,3,4],index = ['a','b','c','d'])
ser2 = Series([5,6,7,8],index = ['t','u','v','x'])

In [26]:
pd.concat([ser1,ser2])

a    1
b    2
c    3
d    4
t    5
u    6
v    7
x    8
dtype: int64

In [27]:
pd.concat([ser1,ser2],axis = 1)

    0   1
a   1 NaN
b   2 NaN
c   3 NaN
d   4 NaN
t NaN   5
u NaN   6
v NaN   7
x NaN   8

In [28]:
url = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.tools.merge.concat.html'

# Combine DataFrames

In [30]:
#combine_first

In [31]:
nan = np.nan

dframe1 = DataFrame({'X':[1.,nan,3.,nan],
                     'Y':[nan,5.,nan,7.],
                     'Z':[nan,9.,nan,11] })

In [32]:
dframe2 = DataFrame({'X':[2.,4.,nan,6.,8.],
                     'Y':[nan,10.,12.,14.,16.]})

In [33]:
dframe1

    X   Y   Z
0   1 NaN NaN
1 NaN   5   9
2   3 NaN NaN
3 NaN   7  11

In [34]:
dframe2

    X   Y
0   2 NaN
1   4  10
2 NaN  12
3   6  14
4   8  16

In [35]:
dframe1.combine_first(dframe2)

   X   Y   Z
0  1 NaN NaN
1  4   5   9
2  3  12 NaN
3  6   7  11
4  8  16 NaN

## More on reshape and indexing

In [37]:
dframe1 = DataFrame(np.arange(8).reshape(2,4),
                    index = pd.Index(['BBSR','BLR'],name='city'),
                    columns = pd.Index(['A','B','C','D'],name = 'letter'))

In [38]:
dframe1

letter  A  B  C  D
city
BBSR    0  1  2  3
BLR     4  5  6  7

In [39]:
dframe_stck = dframe1.stack()

In [40]:
dframe_stck

city  letter
BBSR  A         0
      B         1
      C         2
      D         3
BLR   A         4
      B         5
      C         6
      D         7
dtype: int32

In [42]:
dframe_stck.unstack()

letter  A  B  C  D
city
BBSR    0  1  2  3
BLR     4  5  6  7

In [43]:
dframe_stck.unstack('city')

city    BBSR  BLR
letter
A          0    4
B          1    5
C          2    6
D          3    7

In [44]:
dframe_stck.unstack('letter')

letter  A  B  C  D
city
BBSR    0  1  2  3
BLR     4  5  6  7

In [48]:
ser1 = Series([0,1,2],index = ['A','B','C'])
ser2 = Series([3,4,5],index = ['P','Q','R'])

dframe = pd.concat([ser1,ser2], keys= ['Alpha','Beta'])

dframe

Alpha  A    0
       B    1
       C    2
Beta   P    3
       Q    4
       R    5
dtype: int64

In [49]:
dframe.unstack()

        A   B   C   P   Q   R
Alpha   0   1   2 NaN NaN NaN
Beta  NaN NaN NaN   3   4   5

In [50]:
dframe.unstack().stack()

Alpha  A    0
       B    1
       C    2
Beta   P    3
       Q    4
       R    5
dtype: float64

In [ ]:
dframe.unstack().stack(dropna=False)

# PIVOT

In [52]:
#Pandas Util Testing

In [53]:
#dframe = dframe.pivot() Similar to some functions in dplyr package in R

## Duplicates in DataFrames

In [55]:
dframe = DataFrame({'key1':['a']*2 + ['b']*3,
                    'key2':[2,2,2,3,3] })

In [56]:
dframe

  key1  key2
0    a     2
1    a     2
2    b     2
3    b     3
4    b     3

In [58]:
dframe.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [59]:
dframe.drop_duplicates()

  key1  key2
0    a     2
2    b     2
3    b     3

In [60]:
dframe.drop_duplicates('key1')

  key1  key2
0    a     2
2    b     2

In [61]:
dframe.drop_duplicates('key1',take_last=True)

  key1  key2
1    a     2
4    b     3

In [66]:
dframe = DataFrame({'State':['Orissa','Karnataka','Maharastra'],'Capital':['Bhubaneswar','Bangalore','Mumbai']})
dframe

       Capital       State
0  Bhubaneswar      Orissa
1    Bangalore   Karnataka
2       Mumbai  Maharastra

In [72]:
Pol = {'Bhubaneswar':100000,'Bangalore':2000000,'Mumbai':500000}
Pol

{'Bangalore': 2000000, 'Bhubaneswar': 100000, 'Mumbai': 500000}

In [76]:
dframe['Population'] = dframe['Capital'].map(Pol)

KeyError: 'Capital'

In [77]:
ser1 = Series([1,2,3,4,5])

In [78]:
ser1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [79]:
ser1.replace(1,np.nan

0   NaN
1     2
2     3
3     4
4     5
dtype: float64

In [80]:
ser1.replace([1,3],[100,300])

0    100
1      2
2    300
3      4
4      5
dtype: int64

## Binning

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
years = [1990,1991,1992,2008,2012,2015,1987,1969,2013,2008,1999]

In [4]:
decade_bins = [1960,1970,1980,1990,2000,2010,2020]

In [5]:
decade_cat = pd.cut(years,decade_bins)

In [6]:
decade_cat

[(1980, 1990], (1990, 2000], (1990, 2000], (2000, 2010], (2010, 2020], ..., (1980, 1990], (1960, 1970], (2010, 2020], (2000, 2010], (1990, 2000]]
Length: 11
Categories (6, object): [(1960, 1970] < (1970, 1980] < (1980, 1990] < (1990, 2000] < (2000, 2010] < (2010, 2020]]

In [7]:
decade_cat.categories

Index([u'(1960, 1970]', u'(1970, 1980]', u'(1980, 1990]', u'(1990, 2000]',
       u'(2000, 2010]', u'(2010, 2020]'],
      dtype='object')

In [8]:
pd.value_counts(decade_cat)

(2010, 2020]    3
(1990, 2000]    3
(2000, 2010]    2
(1980, 1990]    2
(1960, 1970]    1
(1970, 1980]    0
dtype: int64

In [9]:
pd.cut(years,2,precision = 1)

[(1969, 1992], (1969, 1992], (1969, 1992], (1992, 2015], (1992, 2015], ..., (1969, 1992], (1969, 1992], (1992, 2015], (1992, 2015], (1992, 2015]]
Length: 11
Categories (2, object): [(1969, 1992] < (1992, 2015]]

In [11]:
np.random.seed(12345)

In [12]:
dframe = DataFrame(np.random.randn(1000,4))

In [13]:
dframe

            0         1         2         3
0   -0.204708  0.478943 -0.519439 -0.555730
1    1.965781  1.393406  0.092908  0.281746
2    0.769023  1.246435  1.007189 -1.296221
3    0.274992  0.228913  1.352917  0.886429
4   -2.001637 -0.371843  1.669025 -0.438570
5   -0.539741  0.476985  3.248944 -1.021228
6   -0.577087  0.124121  0.302614  0.523772
7    0.000940  1.343810 -0.713544 -0.831154
8   -2.370232 -1.860761 -0.860757  0.560145
9   -1.265934  0.119827 -1.063512  0.332883
10  -2.359419 -0.199543 -1.541996 -0.970736
11  -1.307030  0.286350  0.377984 -0.753887
12   0.331286  1.349742  0.069877  0.246674
13  -0.011862  1.004812  1.327195 -0.919262
14  -1.549106  0.022185  0.758363 -0.660524
15   0.862580 -0.010032  0.050009  0.670216
16   0.852965 -0.955869 -0.023493 -2.304234
17  -0.652469 -1.218302 -1.332610  1.074623
18   0.723642  0.690002  1.001543 -0.503087
19  -0.622274 -0.921169 -0.726213  0.222896
20   0.051316 -1.157719  0.816707  0.433610
21   1.010737  1.824875 -0.997518  0.850591
22  -0.131578  0.912414  0.188211  2.169461
23  -0.114928  2.003697  0.029610  0.795253
24   0.118110 -0.748532  0.584970  0.152677
25  -1.565657 -0.562540 -0.032664 -0.929006
26  -0.482573 -0.036264  1.095390  0.980928
27  -0.589488  1.581700 -0.528735  0.457002
28   0.929969 -1.569271 -1.022487 -0.402827
29   0.220487 -0.193401  0.669158 -1.648985
..        ...       ...       ...       ...
970  1.140886  0.113279  0.206782 -1.460094
971 -1.523554 -0.590572 -0.324064  0.132262
972  0.097878  1.244456 -0.048534 -1.091849
973 -0.738296  0.115881  0.016253 -1.243078
974 -1.969172 -1.141360  0.405558 -0.521155
975 -0.813280 -0.461413  1.159668 -0.307670
976  0.669147  0.397355  0.612537  1.381155
977 -0.042541  1.182125  0.153036  0.075798
978  0.615651 -1.992291  0.963044  0.102469
979  0.359400  0.355787 -0.799366  1.120895
980 -0.261844 -0.474138 -0.112021 -0.285176
981 -0.136429  1.285628  0.753586  0.053410
982 -0.355393  0.790731  1.274794  0.233619
983 -1.316005  1.396082  0.336700  0.604880
984  0.675317 -0.060329  1.801953 -0.335099
985 -0.754114  0.650691  0.365401  1.367213
986 -0.105654 -0.001860  0.316802 -0.512542
987 -0.052736 -0.457225  2.452835 -1.050942
988 -0.172078  0.853049 -0.356263 -0.387002
989  0.881601  1.067288  1.079688  1.642339
990 -0.103672 -0.882949 -0.197357  1.336648
991  0.926782 -0.527103  0.633763  0.153988
992 -0.527754  0.815104 -0.677870 -1.466596
993  0.957144  0.377342 -0.383241  1.101972
994  1.221058 -0.326481  0.750008  0.604072
995  1.089085  0.251232 -1.451985  1.653126
996 -0.478509 -0.010663 -1.060881 -1.502870
997 -1.946267  1.013592  0.037333  0.133304
998 -1.293122 -0.322542 -0.782960 -0.303340
999  0.089987  0.292291  1.177706  0.882755

[1000 rows x 4 columns]

In [14]:
dframe.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067684     0.067924     0.025598    -0.002298
std       0.998035     0.992106     1.006835     0.996794
min      -3.428254    -3.548824    -3.184377    -3.745356
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.366626     2.653656     3.260383     3.927528

In [15]:
col = dframe[0]

In [16]:
col.head()

0   -0.204708
1    1.965781
2    0.769023
3    0.274992
4   -2.001637
Name: 0, dtype: float64

In [18]:
col[np.abs(col) > 3]

523   -3.428254
900    3.366626
Name: 0, dtype: float64

## GroupBY

In [2]:
animals = DataFrame(np.arange(16).reshape(4,4),columns = ['W','X','Y','Z'], index = ['Dog','Cat','Bird','Mouse'])

In [3]:
animals

        W   X   Y   Z
Dog     0   1   2   3
Cat     4   5   6   7
Bird    8   9  10  11
Mouse  12  13  14  15

In [4]:
animals.ix[1:2,['W','Y']] = np.nan

In [5]:
animals

        W   X   Y   Z
Dog     0   1   2   3
Cat   NaN   5 NaN   7
Bird    8   9  10  11
Mouse  12  13  14  15

In [6]:
behavior_map = {'W': 'Good','X':'Bad','Y':'Good','Z':'Bad'}

In [7]:
animals_col = animals.groupby(behavior_map, axis =1 )

In [8]:
animals_col

In [9]:
animals_col.sum()

       Bad  Good
Dog      4     2
Cat     12   NaN
Bird    20    18
Mouse   28    26

In [11]:
animals.groupby(len, axis = 1).sum()

        1
Dog     6
Cat    12
Bird   38
Mouse  54